@charset "utf-8";

.login{
    width: 300px;
    padding: 5px;
    
}

form.login{
    margin: auto;
}

h1{
    color: blueviolet;
    text-align: center;
}

p.login-submit{
    margin: 20px 0px 20px;
    text-align: center;
}

.logout-center{
    text-align: center;
    padding: 5px;
    margin-bottom: 8px;
}