@charset "utf-8";

header{
    margin-bottom: 50px;
    padding: 5px;
}

footer{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

footer p{
line-height: 75px;
margin-bottom: 0px;
}

th,td{
    padding: 5px;
}

th#update,#delete{
    width: 50px;
}

#product-table{
width: 100%;
}

#head{
    width: 50px;
}

td input{
    width: 100%;
}