@charset "utf-8";


th#update,#delete{
    width: 50px;
}


th,td{
    padding: 5px;
}

header{
    margin-bottom: 50px;
    padding: 5px;
}

footer{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

footer p{
line-height: 75px;
margin-bottom: 0px;
}

#user-table{
    width: 100%;
}