@charset "UTF-8";
body {
	margin: 0px;
	background-color:#dcdcdc;
	overflow-y: scroll;
}
p {
	margin: 0px;
}
a {
	text-decoration: none;
}
a:link{
	color:#000;
}
a:visited{
	color:#000;
}
img{
	weight:100px;
}
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
table{
	margin-right: auto;
	margin-left: auto;
	border-spacing: 0px;
}
th{
	padding:opx;
}
td{
	padding:0px;
}
input{
	width:100%;
	padding:6px;
}
textarea{
	width:100%;
	resize: none;
	padding:6px;
}
table.basic{
	width: 450px;
	background-color: white;
	border:1px solid #a9a9a9;
	border-radius: 10px;
	border-spacing: 0;
	border-collapse: separate;
	box-shadow: 0 0 10px 0 #c0c0c0;
}
table td.basic-top{
	padding:15px 15px 0px 15px;
	height:15px;
}
table td.basic-middle{
	padding:0px 15px 0px 15px;
}
table td.basic-bottom{
	padding:0px 15px 15px 15px;
	height:15px;
}