@charset "UTF-8";
body {
	margin: 0px;
	background-color:#dcdcdc;
	overflow-y: scroll;
}
p {
	margin: 0px;
}
a {
	text-decoration: none;
}
a:link{
	color:#000;
}
a:visited{
	color:#000;
}
img{
	weight:100px;
}
hr{
	width:100%;
}
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
table{
	margin-right: auto;
	margin-left: auto;
	border-spacing: 0px;
}
th{
	padding:0px;
}
td{
	padding:0px;
}
input{
	width:100%;
	padding:6px;
}
select{
	width:50%;
	padding:6px;
}
textarea{
	width:100%;
	resize: none;
	padding:6px;
}
table.basic{
	width: 450px;
	background-color: white;
	border:1px solid #a9a9a9;
	border-radius: 10px;
	border-spacing: 0;
	border-collapse: separate;
	box-shadow: 0 0 10px 0 #c0c0c0;
}
table td.basic-top{
	padding:15px 15px 0px 15px;
	height:15px;
}
table td.basic-middle{
	padding:0px 15px 0px 15px;
}
table td.basic-bottom{
	padding:0px 15px 15px 15px;
	height:15px;
}
.input-margin{
	padding-bottom:8px;
}
.attention{
	font-size:11px;
	color:#808080;
}
.submit{
	padding-top:40px;
	padding-bottom:10px;
}
.success{
	color:#3cb371;
}
.error{
	font-size:14px;
	color:#dc143c;
}
.warning{
	color:#ffd700;
}
#alert{
	width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 13px;
}
.subject{
	font-size:20px;
	text-align:center;
}
.bottom-link{
	padding:0 15px;
	text-align:center
}