@charset "UTF-8";
table.basic{
	height:500px;
}
hr{
	width:100%;
}
.subject{
	font-size:20px;
	text-align:center;
}
.table-enquiry{
	width:100%;
}
.attention{
	font-size:11px;
	color:#808080;
	padding-bottom:15px;
}
.input-margin{
	padding-bottom:8px;
}
.icon{
	vertical-align: text-top;
}
.success{
	color:#3cb371;
}

.error{
	font-size:14px;
	color:#dc143c;
}

.warning{
	color:#ffd700;
}

#alert{
	width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 13px;
}
.done{
	text-align:center;
}
.message{
	padding-bottom:15px;
}