body {
	margin: 0px;
	background-color:#dcdcdc;
}

p {
	margin: 0px;
}

a {
	text-decoration: none;
}

a:link{
	color:#000;
}

a:visited{
	color:#000;
}

.logo_bg{
	background-image: url("../imgs/logo_back.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

table {
	margin-right: auto;
	margin-left: auto;
	border-spacing: 0px;
}

#logo {
	width: 400px;
	max-height: 300px;
	min-height: 300px;
	color: white;
	text-shadow: -1px -1px 4px rgb(0, 0, 0), -1px 0 4px rgb(0, 0, 0), -1px
		1px 4px rgb(0, 0, 0), 0 -1px 4px rgb(0, 0, 0), 0px 1px 4px
		rgb(0, 0, 0), 1px -1px 4px rgb(0, 0, 0), 1px 0 4px rgb(0, 0, 0), 1px
		1px 4px rgb(0, 0, 0);
	font-family: 'Kaisei Decol', serif;
	font-size: min(7vw, 50px);
}

#title {
	color: rgb(255, 255, 255);
}

#spring {
	color: rgb(247, 202, 239);
}

.container{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}

.container div{
	margin:0 8px 0;
}


.table-category{
	width:450px;
	font-size:14px;
	color:black;
	overflow-wrap: break-word;
}

.table-category a{
	color:black;
}

.product {
	width: 450px;
	height: 450px;
	min-width: 250px;
	min-height: 250px;
	background-color: white;
	padding: 15px;
	border-radius: 6px;
}

.product-name-height{
	height:60px;
}

.product_bottom{
	height:60px;
	font-size:13px;
	text-align: center;
}

.img-view{
	height:auto;
}

img {
	width: 430px;
	height: auto;
	object-fit: cover;
}

table.product{
	font-size:12px;
}

.product td {
	padding: 0px;
}

.th_height {
	height: 15%;
	padding-left: 5%;
	padding-right: 5%;
}

.product_name {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	width: 430px;
}

#visit{
	text-align:center;
}

#bottom-bottom{
	text-align:center;
}

.like-off{
	color:#999;
	font-size:30px;
}

.like-on{
	color:#db7093;
	font-size:30px;
}

#clock{
	color:#666;
	font-size:11px;
	text-align:right;
	vertical-align:bottom;
}

.clock{
	color:#666;
}

.js-textTrim {
	font-size:17px;
	font-weight: bold;
	margin: 0px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.single {
	max-width: 420px;
	margin: 0 auto 50px;
}

.single img {
	width: 100%;
}

.slide-arrow {
	background-color: #FFF;
	bottom: 0;
	height: 0;
	margin: auto;
	position: absolute;
	top: 0;
	width: 0;
}

.prev-arrow {
	border-bottom: 5px solid #FFF;
	border-left: 0;
	border-right: 7px solid #000;
	border-top: 5px solid #FFF;
	left: -11px;
}

.next-arrow {
	border-bottom: 5px solid #FFF;
	border-left: 7px solid #000;
	border-right: 0;
	border-top: 5px solid #FFF;
	right: -11px;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	padding: 0;
}

/* ページネーション ここから */
dd{
	margin:0px;
}
nav.pagination-container ul {
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    filter: drop-shadow(0px 1px 3px #ccc);
    transition: 0.3s;
    border-radius: 0px;
    overflow: hidden;
}
.pagination li {
    margin: 0;
}
nav.pagination-container ul li a {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0;
    padding: 15px 18px 13px;
    background: #FFF;
    line-height: 1;
    border-right: solid 1px #eee;
}
li.first {
    border-radius: 5px 0 0 5px;
}
li.last {
    border-radius: 0 5px 5px 0;
}
li.page.navi-active a {
    font-weight:bold;
   /*  transform: scale(1.2); */
}
.pagenation_block dl {
    border-bottom: solid 1px #ddd;
}
.pagination a:hover{
    background-color: #ffb6c1;
}
nav.pagination-container ul li a{
	width:auto;
	height:auto;
}
li.last a{
	width:20px;
}
.page-nation{
	text-align:center;
}
/* ページネーション ここまで */