@charset "UTF-8";
img {
	width: 430px;
	height: auto;
	object-fit: contain;
}
table.category{
	width:100%;
}
table.category th{
	text-align:center;
}
table.category td{
	text-align:center;
}
table.category-d{
	width:100%;
}
table.category-d th{
	text-align:center;
}
table.category-d td{
	text-align:center;
}
table.category-d a{
	font-size:12px;
}
.container{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}
.category-a{
	padding: 0px 8px 0px;
}
.table-product{
	height:470px;
}

.product-top th{
	height:60px;
	font-size:22px;
	font-weight: bold;
	margin: 0px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.product-bottom {
	height:60px;
	vertical-align:bottom;
}
.table-bottom{
	width:100%;
}
.product-link{
	width:100%;
	font-size:20px;
	text-align:center;
	vertical-align: text-top;
}
.amazon{
	color:#ffa500;
	font-size:19px;
}
.product-registed{
	color:gray;
	font-size:12px;
	text-align:right;
}
.product-ted{
	color:gray;
	font-size:12px;
	text-align:right;
}

.single{
	max-width: 420px;
	margin: 0 auto 50px;
}

.single{
	verical-align:middle;
}
.single img {
	width: 100%;
}

.slide-arrow {
	background-color: #FFF;
	bottom: 0;
	height: 0;
	margin: auto;
	position: absolute;
	top: 0;
	width: 0;
}

.prev-arrow {
	border-bottom: 5px solid #FFF;
	border-left: 0;
	border-right: 7px solid #000;
	border-top: 5px solid #FFF;
	left: -11px;
}

.next-arrow {
	border-bottom: 5px solid #FFF;
	border-left: 7px solid #000;
	border-right: 0;
	border-top: 5px solid #FFF;
	right: -11px;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	padding: 0;
}

.table-up{
	background-color:#FFF;
	width:81px;
	border:1px solid #a9a9a9;
	border-radius: 10px;
	border-spacing: 0;
	border-collapse: separate;
	box-shadow: 0 0 10px 0 #c0c0c0;
	margin-top:10px;
	margin-left:278px;
	margin-bottom:10px;
}
.table-up a{
	display:block;
	width:100%;
	height:100%;
	padding:5px 12px;
}
.table-del{
	background-color:#FFF;
	width:81px;
	border:1px solid #a9a9a9;
	border-radius: 10px;
	border-spacing: 0;
	border-collapse: separate;
	box-shadow: 0 0 10px 0 #c0c0c0;
	margin-top:10px;
	margin-left:10px;
	margin-bottom:10px;
}
.table-add{
	background-color:#FFF;
	width:450px;
	border:1px solid #a9a9a9;
	border-radius: 10px;
	border-spacing: 0;
	border-collapse: separate;
	box-shadow: 0 0 10px 0 #c0c0c0;
	margin-top:10px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:10px;
	text-align:center;
}
.table-del a{
	display:block;
	width:100%;
	height:100%;
	padding:5px 12px;
}
.table-add a{
	display:block;
	width:100%;
	height:100%;
	padding:5px 12px;
}
.button{
	width:55px;
}