@charset "utf-8";

nav{
    font-family: 'Kiwi Maru', serif;
}

div.navi{
    margin-bottom: 56px;
    display: flex;
    justify-content: center;    
    text-align: center;
}

div.title{
    font-family: 'Kaisei Opti', serif;
    font-size: x-large;
    margin-bottom: 30px;
}

div.col{
    padding: 0px;
}

div.category-a{
    margin-bottom: 30px;
}

.category-table a{
    margin-right: 10px;
}

.products table{
    margin-bottom: 50px;
    font-size: small;

}

.photo-large{
    
    object-fit:contain;
    display: inline-block;
}

#table-products{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 560px;
    table-layout: fixed;
}



.text{
    display: inline-block; 
}

.logo_back{
    background-image: url(../imgs/logo_back.png);
    background-size: cover;
}

table.logo{
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-shadow: 0px 0px 5px #000000,0px 0px 5px #000000,0px 0px 5px #000000,0px 0px 5px #000000,0px 0px 5px #000000;
}

th{
    padding-left: 0px;
    padding-right: 0px;
}


th.large{
    padding:0px ;
}

td.mini{
    padding:0px ;
}

img {
    cursor: pointer;
}

.img-table ul{
    display: flex;
    flex-wrap: wrap;
    list-style:none;
    padding: 0px;
    margin: 0px;
}

.img-table li{
    position: relative;
    width: 80px;
}

.img-table li:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.img-table li img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
}

th.large{
	hegiht:240px;
	width:320px;
}

th img{
	max-width:320px;
	height:auto;
	vertical-align: middle;
}

.box {
  height: 200px;
  width:200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box img {
  max-width: 80%;
}