@charset "utf-8";

th,
td {
    padding: 5px;
}

th#update,
#delete {
    width: 50px;
}

td#product-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
    table-layout: fixed;
}

#list-table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

div.adduser-table{
    width: 500px;
    margin: auto;
}

#list-adduser-table {
    width: 500px;
    margin: 0 auto 20px;
}

.form-sub {
    margin-bottom: 5px;
}

th#head {
    width: 215px;
}

td select {
    width: 100px;
}

th#update,
#delete {
    width: 50px;
}

#user-table {
    width: 100%;
}

.submit {
	margin-top:10px;
    margin-bottom: 20px;
}

td img{
	width:200px;
}

#longform{
	width:80%;
}

a#add{
	text-align:right;
}

select#selectform{
	width:200px;
}

#body{
	margin-top:100px
}

form img.thumb {
    margin:0 5px 5px 0;
    max-width:160px;
    vertical-align:bottom;
}

th{
	vertical-align:middle;
}

td{
	vertical-align:middle;
}

#add-user-form{
	width:380px;
}

#alert{
	width: 380px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 13px;
}

div#add-update-user{
	width:fit-content;
	margin-left: auto;
    margin-right: auto;
}

div .attention{
	font-size:11px;
	color:#808080;
}

.success{
	color:#3cb371;
}

.error{
	color:#dc143c;
}

.warning{
	color:#ffd700;
}

table.title-table{
	width:100%;
}

td#view{
	text-align:right;
	vertical-align:top;
}

