@charset "utf-8";

th,
td {
    padding: 5px;
}

th#update,
#delete {
    width: 50px;
}

td#product-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
    table-layout: fixed;
}

#list-table {
    width: 100%;
    margin-bottom: 20px;
}

div.adduser-table{
    width: 500px;
    margin: auto;
}

#list-adduser-table {
    width: 500px;
    margin: 0 auto 20px;
}

.form-sub {
    margin-bottom: 5px;
}

th#head {
    width: 100px;
}


td input {
    width: 300px;
}

td select {
    width: 100px;
}

th#update,
#delete {
    width: 50px;
}

#user-table {
    width: 100%;
}

.submit {
    margin-bottom: 20px;
}

td img{
	width:200px;
}

#longform{
	width:80%;
}

a#add{
	text-align:right;
}

select#selectform{
	width:200px;
}

#body{
	margin-top:100px
}