@charset "UTF-8";
.table-list{
	width:100%;
}
img{
	width:100%;
}
th{
	padding-bottom:3px;
}
.subject{
	font-size:20px;
	text-align:center;
}
.table-inside td{
	padding:5px;
}
.alink{
	padding-bottom:10px;
}
.table-table{
	width:100%;
	text-align:center;
}
.inner-table{
	text-align:center;
}
.sub-title{
	font-size:12px;
}
.bottom-td{
	text-align:center
}
.id{
	width:25px;
}
.name{
	width:245px;
}
.update{
	width:75px;
	text-align:right;
}
.delete{
	width:75px;
	text-align:right;
}

.icon{
	font-size:14px;
}
.add{
	background-color:#FFF;
	width:450px;
	border:1px solid #a9a9a9;
	border-radius: 10px;
	border-spacing: 0;
	border-collapse: separate;
	box-shadow: 0 0 10px 0 #c0c0c0;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
.add a{
	display:block;
	width:100%;
	height:100%;
	padding:5px 12px;
}
.table-add{
	background-color:#FFF;
	width:81px;
	border:1px solid #a9a9a9;
	border-radius: 10px;
	border-spacing: 0;
	border-collapse: separate;
	box-shadow: 0 0 10px 0 #c0c0c0;
	margin-top:10px;
	margin-right:369px;
	margin-left:auto;
	margin-bottom:10px;
	text-align:center;
}
.table-add a{
	display:block;
	width:100%;
	height:100%;
	padding:5px 12px;
}

.button{
	width:55px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #ffc0cb;
}
form img.thumb {
    margin:0 5px 5px 0;
    max-width:160px;
    vertical-align:bottom;
}
.product-ted{
	color:gray;
	font-size:12px;
	text-align:right;
}
.product-ted-simple{
	color:gray;
	font-size:12px;
}
.product-name{
	font-size:18px;
	padding:0px;
}
table.category{
	width:100%;
}
table.category a{
	font-size:12px;
}
table.category th{
	text-align:center;
}
table.category td{
	text-align:center;
}
.container{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}
.category-a{
	padding: 0px 8px;
}
th.product-name-simple{
	padding:0px;
}
td.product-ted-simple{
	padding:0px 0px 10px 0px;;
}
.margin-space{
	padding-bottom:10px;
}
.check{
	width:20px
}
.head{
	width:120px;
}
.delete-img-btn{
	margin-left:6px;
}
.img-id{
	width:100px;
}
.delete-radio{
	margin-bottom:20px;
}