@charset "UTF-8";

.logo_bg{
	margin-top: 56px;
	background-image: url("../imgs/logo_back.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
}

.table-logo{
	width: 400px;
	max-height: 100px;
	min-height: 100px;
}

.title{
	color: white;
	text-shadow: -1px -1px 4px rgb(0, 0, 0), -1px 0 4px rgb(0, 0, 0), -1px
		1px 4px rgb(0, 0, 0), 0 -1px 4px rgb(0, 0, 0), 0px 1px 4px
		rgb(0, 0, 0), 1px -1px 4px rgb(0, 0, 0), 1px 0 4px rgb(0, 0, 0), 1px
		1px 4px rgb(0, 0, 0);
	font-family: 'Kaisei Decol', serif;
	font-size: min(50px, 50px);
}
.spring{
	color: rgb(247, 202, 239);
}