<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP HARUNO</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=Kaisei+Opti&family=Klee+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">

    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function () {
      $('#photo-mini-0001 img').click(function () {
        let src = $(this).attr('src');
        console.log(src);
        $('#photo-large-0001 img').attr('src', src);
      })
      $('#photo-mini-0002 img').click(function () {
        let src = $(this).attr('src');
        console.log(src);
        $('#photo-large-0002 img').attr('src', src);
      })
    });
    </script>


</head>

<body>
    

    <div class="navi">

        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">MENU</a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Q&A</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CONTACT</a>
                        </li>
                    </ul>
                </div>
                <!--/.collapse.navbar-collapse-->
            </div>
            <!--/.container-->

        </nav>

    </div>

    <div class="title">

        <div class="row">
            <div class="logo_back">
                <table height="400" class="logo">
                    <td align="center" valign="middle">*ショップ ハルノ*</td>
                </table>
            </div>
        </div>
        <!--/.row-->

    </div>
    <!--/.title-->

    <div class="category-a">
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col">
                    <table class="category_table" align="center">

                        <th class="text"><a href="#">カテゴリA01</a></th>

                        <th class="text"><a href="#">カテゴリA02</a></th>

                        <th class="text"><a href="#">カテゴリA03</a></th>

                        <th class="text"><a href="#">カテゴリA04</a></th>

                        <th class="text"><a href="#">カテゴリA05</a></th>

                        <th class="text"><a href="#">カテゴリA06</a></th>

                        <th class="text"><a href="#">カテゴリA07</a></th>

                        <th class="text"><a href="#">カテゴリA08</a></th>
                    </table>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.category-->

    <div class="category-b">
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col">
                    <table class="category_table" align="center">

                        <th class="text"><a href="#">カテゴリB01</a></th>

                        <th class="text"><a href="#">カテゴリB02</a></th>

                        <th class="text"><a href="#">カテゴリB03</a></th>

                        <th class="text"><a href="#">カテゴリB04</a></th>

                        <th class="text"><a href="#">カテゴリB05</a></th>

                        <th class="text"><a href="#">カテゴリB06</a></th>

                        <th class="text"><a href="#">カテゴリB07</a></th>

                    </table>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.category-->

    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col" align="center">
                    <div class="row">
                        <div class="col">
                            <table height="250" width="500">
                                <tr>
                                    <th rowspan="3" width="70%">
                                            <div id="photo-large-0001" class="photo-large"><img src="../imgs/0001/0001_main.jpg" alt="" width="100%" height="220px">
                                    </div><!--/.photo-large-->
                                        
                                    </th>
                                    <th>
                                        <div id="photo-mini-0001" ><img src="../imgs/0001/0001_main.jpg" alt="" width="100%"></div>
                                    </th>
                                    <th>
                                        <div id="photo-mini-0001"><img src="../imgs/0001/0001_sub_01.jpg" alt="" width="100%"></div>
                                    </th>
                                </tr>
                                <tr height="">
                                    <th>
                                        <div id="photo-mini-0001"><img src="../imgs/0001/0001_sub_02.jpg" alt="" width="100%"></div>
                                    </th>
                                    <th>
                                        <div id="photo-mini-0001"><img src="../imgs/0001/0001_sub_03.jpg" alt="" width="100%"></div>
                                    </th>
                                </tr>
                                <tr height="">
                                    <th>
                                        <div id="photo-mini-0001"><img src="../imgs/0001/0001_sub_04.jpg" alt="" width="100%"></div>
                                    </th>
                                    <th>
                                        <div id="photo-mini-0001"><img src="../imgs/0001/0001_sub_05.jpg" alt="" width="100%"></div>
                                    </th>
                                </tr>

                                <tr height="5%">
                                    <td colspan="3" id="table-products"><a href="#">Canon コンパクトデジタルカメラ PowerShot SX620 HS ブラック
                                            光学25倍ズーム/Wi-Fi対応
                                            PSSX620HSBK</a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col">
                            <table height="250" width="500">
                                <tr>
                                    <th rowspan="3" width="70%">
                                            <div id="photo-large-0002" class="photo-large"><img src="../imgs/0002/0002_main.jpg" alt="" width="100%" height="220px">
                                    </div><!--/.photo-large-->
                                        
                                    </th>
                                    <th>
                                        <div id="photo-mini-0002"><img src="../imgs/0002/0002_main.jpg" alt="" width="100%"></div>
                                    </th>
                                    <th>
                                        <div id="photo-mini-0002"><img src="../imgs/0002/0002_sub_01.jpg" alt="" width="100%"></div>
                                    </th>
                                </tr>
                                <tr height="">
                                    <th>
                                        <div id="photo-mini-0002"><img src="../imgs/0002/0002_sub_02.jpg" alt="" width="100%"></div>
                                    </th>
                                    <th>
                                        <div id="photo-mini-0002"><img src="../imgs/0002/0002_sub_03.jpg" alt="" width="100%"></div>
                                    </th>
                                </tr>
                                <tr height="">
                                    <th>
                                        <div id="photo-mini-0002"><img src="../imgs/0002/0002_sub_04.jpg" alt="" width="100%"></div>
                                    </th>
                                    <th>
                                        <div id="photo-mini-0002"><img src="../imgs/0002/0002_sub_05.jpg" alt="" width="100%"></div>
                                    </th>
                                </tr>

                                <tr height="5%">
                                    <td colspan="3" id="table-products"><a href="#">Canon コンパクトデジタルカメラ PowerShot SX620 HS ブラック
                                            光学25倍ズーム/Wi-Fi対応
                                            PSSX620HSBK</a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col">
                            <table height="250" width="500" border="1">
                                <tr>
                                    <th rowspan="3" width="70%">
                                        <div id="photo-large"><img src="../imgs/main_a.jpg" alt="" width="100%">
                                        </div>
                                    </th>
                                    <th>
                                        <div id="gallery"><img src="../imgs/main_a.jpg" alt="" width="100%"></div>
                                    </th>
                                    <th>
                                        <div id="gallery"><img src="../imgs/sub_a01.jpg" alt="" width="100%"></div>
                                    </th>
                                </tr>
                                <tr height="">
                                    <th>
                                        <div id="gallery"><img src="../imgs/sub_a02.jpg" alt="" width="100%"></div>
                                    </th>
                                    <th>
                                        <div id="gallery"><img src="../imgs/sub_a03.jpg" alt="" width="100%"></div>
                                    </th>
                                </tr>
                                <tr height="">
                                    <th>
                                        <div id="gallery"><img src="../imgs/sub_a04.jpg" alt="" width="100%"></div>
                                    </th>
                                    <th>
                                        <div id="gallery"><img src="../imgs/sub_a05.jpg" alt="" width="100%"></div>
                                    </th>
                                </tr>

                                <tr height="5%">
                                    <td colspan="3"><a href="#">Canon コンパクトデジタルカメラ PowerShot SX620 HS ブラック
                                            光学25倍ズーム/Wi-Fi対応
                                            PSSX620HSBK</a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col">
                            <table height="250" width="500" border="1">
                                <tr>
                                    <th rowspan="3" width="70%">
                                        <div id="photo-large"><img src="../imgs/main_a.jpg" alt="" width="100%">
                                        </div>
                                    </th>
                                    <th>
                                        <div id="gallery"><img src="../imgs/main_a.jpg" alt="" width="100%"></div>
                                    </th>
                                    <th>
                                        <div id="gallery"><img src="../imgs/sub_a01.jpg" alt="" width="100%"></div>
                                    </th>
                                </tr>
                                <tr height="">
                                    <th>
                                        <div id="gallery"><img src="../imgs/sub_a02.jpg" alt="" width="100%"></div>
                                    </th>
                                    <th>
                                        <div id="gallery"><img src="../imgs/sub_a03.jpg" alt="" width="100%"></div>
                                    </th>
                                </tr>
                                <tr height="">
                                    <th>
                                        <div id="gallery"><img src="../imgs/sub_a04.jpg" alt="" width="100%"></div>
                                    </th>
                                    <th>
                                        <div id="gallery"><img src="../imgs/sub_a05.jpg" alt="" width="100%"></div>
                                    </th>
                                </tr>

                                <tr height="5%">
                                    <td colspan="3"><a href="#">Canon コンパクトデジタルカメラ PowerShot SX620 HS ブラック
                                            光学25倍ズーム/Wi-Fi対応
                                            PSSX620HSBK</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <div class="col-1"></div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.products-->






</body>

</html>