<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品一覧</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/list_style.css">
    <link rel="stylesheet" href="../css/hf_style.css">

    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery-3.6.0.min.js"></script>
</head>
<body>

    <header></header>


<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-10">
            <h1>商品一覧</h1>
            <a href="#">商品追加</a>
            <table border="1" id="list-table">
                <tr><th id="update"></th><th id="delete"></th><th id="id">ID</th><th id="product-name">商品名</th><th id="product-url">商品URL</th><th>追加日</th><th>追加ユーザー</th><th>編集日</th><th>編集ユーザー</th></tr>
                <tr><td><a href="#">編集</a></td><td><a href="#">削除</a></td><td>1</td><td>商品名データ1</td><td><a href="https://www.google.com/?hl=ja">https://www.google.com/?hl=ja</a></td><td>2022/01/01 00:00:00</td><td>ユーザー1</td><td></td><td></td></tr>
                <tr><td><a href="#">編集</a></td><td><a href="#">削除</a></td><td>1</td><td>商品名データ2</td><td><a href="https://www.google.com/?hl=ja">https://www.google.com/?hl=ja</a></td><td>2022/01/01 00:00:00</td><td>ユーザー2</td><td>2022/07/28 11:11:11</td><td>ユーザー2</td></tr>
                <tr><td><a href="#">編集</a></td><td><a href="#">削除</a></td><td>1</td><td>商品名データ3</td><td><a href="https://www.google.com/?hl=ja">https://www.google.com/?hl=ja</a></td><td>2022/07/28 00:00:00</td><td>ユーザー1</td><td>2022/07/28 14:28:00</td><td>ユーザー2</td></tr>
            </table>
            <p><a href="#">戻る</a></p>
        </div>
        <div class="col"></div>
    </div><!--/.row-->
</div><!--/.container-->





    <div>
        <footer>
            <p class="copyright">Copyright &copy 2022 SHOP HARUNO All Rights Reserved.</p>
        </footer>
    </div>
    
</body>
</html>